<script>
function mobilenavmenu() {
    var x = document.getElementById("mobile-nav");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
function mobilenavsubmenu() {
    var x = document.getElementById("mobile-nav-submenu");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
